.DS_Store
*.DS_Store

# Logs
logs/
*.log

# Cache
.bundle/
.happo/
.idea/
.next/
.cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
build/
coverage/
dist/
#esm/ # Exclude the compiled files because I don't have time to find a better way right now
#lib/
public/
node_modules/
tmp/

# Custom
#*.map # Exclude the compiled files because I don't have time to find a better way right now
#*.min.js
test-changelog.md

# Configs (provided by Nimbus)
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
babel.config.js
jest.config.js
prettier.config.js
tsconfig.eslint.json
tsconfig.json
tsconfig.options.json
*.tsbuildinfo
webpack.config.js

# Lock files, libs should not have lock files
npm-shrinkwrap.json
package-lock.json
# yarn.lock
old-yarn.lock
.*.swp
_gh-pages